@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Configuración de Tailwind v4 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Asignamos las variables de Next.js a las utilidades de Tailwind */
  --font-sans: var(--font-blinker), sans-serif; /* Para clases font-sans */
  --font-heading: var(--font-bolde), sans-serif; /* Para clases font-heading (personalizada) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-blinker), sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bolde), sans-serif;
}

button {
  font-family: var(--font-bolde), sans-serif;
}